a:hover {
  filter: brightness(1.3) !important;
}

.code-block {
  font-size: 0.8rem;
  font-family: monospace;
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
  padding: 10px;
  padding-top: 0px;
  border-top: 5px solid rgb(100, 204, 118);
  border-radius: 5px;
  line-height: 17px;
  overflow: scroll;
}

code {
  background-color: #ddd;
  color: black;
  padding: 2px 3px;
  border-radius: 2px;
  font-size: 0.8rem;
}
