a:hover {
  color: #777 !important;
}

.code-block {
  font-size: 0.8rem;
  font-family: monospace;
  background-color: rgb(26, 26, 26);
  color: #ddd;
  padding: 10px;
  padding-top: 0px;
  border-top: 5px solid rgb(100, 204, 118);
  border-radius: 5px;
  line-height: 1.1;
  overflow: scroll;
}
