.comment {
  color: rgb(120, 117, 125);
  font-style: italic;
}

.js-keyword {
  color: rgb(236, 64, 135);
  font-weight: bold;
}

.js-blueword {
  color: rgb(69, 195, 216);
}

.js-syntax {
  color: rgb(120, 117, 125);
}

.tf-keyword {
  color: rgb(69, 195, 216);
}

.string {
  color: rgb(252, 228, 73);
}
